

/* Styling for the entire document. */
body
{
    background-color: white;
    color: black;
    font-family: Ariel,Helvetica,sans-serif;

}

h1 {
	background-color: white;
	color: red
}

h2 {
	font-size: 20px; 
	font-style: italic;
}


/* Styling for the heading div. */
#heading
{
    clear: both;
    margin-bottom: 10px;
	text-align: center;
}

#heading hr
{
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
}



/* Styling for the menu div. */
#menu
{
	
    float: right;
    margin-bottom: 50px;
    width: 225px;
	height: 300px;
	
	background-color: white;	
	
}

#menu ul
{
    list-style-type: none;
    margin: 10;
    padding: 0;
}

#menu a:link, #menu a:visited
{
    background-color: #00ff00;
    color: #000000;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

#menu a:hover, #menu a:active
{
    background-color: #00bf00;
}

/* Styling for the content div. */
#content
{
    margin-top: 10px;
    margin-bottom: 10px;

}


/* Styling for the footing div. */
#footing
{
    clear: both;
    font-size: .75em;
    font-style: italic;
    text-align: right;
}

#footing hr
{
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
}
